/* Soluzione qui */
/* Font */
body{
  font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
}

#logo{
  font-family: 'Nerko One', cursive;
}


/* Tablet */
@media all and (min-width: 768px){
  #topbar{
    justify-content: flex-start;
  }
  main{
    padding: 50px;
  }
  .recipe-origin{
    display: inline;
  }
  .recipe-name{
    font-size: 30px;
    white-space: nowrap;
  }
  .ads{
    display: block;
  }
   .quick-notes ul{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 30px;
  }
  .social-networks button{
    flex: 1;
    text-align: center;
  }
  .presentation img{
    float: left;
    margin: 0 20px 10px 0;
  }
  }